html
	head
		title Recipe
		link(rel='stylesheet', type='text/css', href='css/style.css')
		link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css')

	body
		#content
		
		script(type='text/javascript', src='/js/app.js')
